<header>
  <div class="header__content">
    <span class="header__title">{{ title }}</span>

    <div class="nav-switch --pointer">
      <div class="nav-switch__line"></div>
    </div>
  </div>
</header>