<nav>
  <span style="display: none;">Меню</span>
  <a href="/" class="nav__link{{isActiveNavItem activeRoute '/'}}">Главная</a>
  <a href="/rules" class="nav__link{{isActiveNavItem activeRoute '/rules'}}">Правила</a>
  <a href="/how-to-buy" class="nav__link{{isActiveNavItem activeRoute '/how-to-buy'}}">Как купить?</a>
</nav>