<nav>
    <span style="display: none;">Меню</span>
  <!--  <a href="/" class="nav__link{% if request.path == '/' %} nav__link&#45;&#45;active{% endif %}">Главная</a>-->
  <!--  {% for i in menu_links %}-->
  <!--  <a href="{{ i.link }}" class="nav__link{% if request.path == i.link %} nav__link&#45;&#45;active{% endif %}">{{ i.name }}</a>-->
  <!--  {% endfor %}-->
</nav>