<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>

{{{body}}}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const baseUrl = window.location.origin + window.location.pathname;
    window.history.replaceState({}, document.title, baseUrl);
  });
</script>

</body>
</html>